<header class="main-header">
  <nav class="main-nav">
    <ul class="main-menu">
      <li><a href="home.html" data-i18n="home">Home</a></li>
      
      <li class="dropdown-menu-container">
        <a href="#" data-i18n="links"> Outro</a>
        <ul class="dropdown-menu hidden">
          <li><a href="https://fribbels.github.io/hsr-optimizer">Fribbels Optimizer</a></li>
          <li><a href="#">Item 2</a></li>
        </ul>
      </li>

      <li class="dropdown-menu-container">
        <a href="#" data-i18n="out-of-game"></a>
        <ul class="dropdown-menu hidden">
          <li><a href="/src/pages/mmd.html">MMD</a></li>
          <li><a href="#">Emotes</a></li>
        </ul>
      </li>
      
      <li class="language-selector-item">
        <div class="language-selector-container">
          <button id="language-button" class="language-button">PT</button>
          <ul id="language-list" class="language-list hidden">
            <li data-lang="pt">Português</li>
            <li data-lang="en">English</li>

          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>